<%
  if @client.present?
    model = [ @client, @client.notes.build ]
  elsif @dog.present?
    model = [ @dog, @dog.notes.build ]
  end
%>
<%= form_with(model: model, remote: true, local: false) do |form| %>
  
  <div class="form-group">
    <%= form.text_area :annotation, class: 'form-control' %>
  </div>

<% end %>
