<%= form_with(model: [ @client, @client.notes.build ], html: {role: "form"}, local: false) do |form| %>
  
  <div class="field form-group">
    <%= form.text_area :annotation, class: 'form-control' %>
  </div>

  
  <div class="field form-group">
    <%= form.submit class: 'btn btn-info' %>
  </div>

<% end %>
