<tr>
  <th>
    <%= dog.name %>
  </th>
  <td>
    <%= raw(dog.describe true) %>
  </td>

  <td>
    <%# link_to 'Delete Dog', [dog.client, dog],
                 method: :delete,
                 data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <%= link_to 'Edit', edit_dog_path(dog) %>
  </td>
</tr>
