<%= form_with(model: @dog.blank? ? [@client, @client.dogs.build ] : @dog, html: {role: "form"}, local: true) do |form| %>
  
  
  <%= render 'dogs/fields', f: form %>


  
  <div class="field form-group col-sm-12">
  <%= form.submit class: 'btn btn-info' %>
</div>

<% end %>
