<%= form_with(model: @dog, html: {role: "form"}, local: true) do |form| %>
  <div class="row">
    <%= render 'dogs/fields', f: form %>
  </div>
  <div class="row">
    <div class="field form-group col-sm-3">
    <%= form.submit class: 'btn btn-default' %>
  </div>
</div>
<% end %>
