<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Dog Trainer's Database</h1>
      <%= link_to 'Clients', clients_path, class: 'btn btn-default' %>
      <%= link_to 'New client', new_client_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
