// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.client-note {
  background-color: beige;
  padding: 5px;
  box-shadow: 2px 2px 1px grey;
}
