<div class="col-sm-12 text-center well well-sm" id="application-footer">
  <small>Copyright &copy; <%= Date.today.year.to_s %> <a href="<%= Rails.configuration.org_details['url'] %>"><%= Rails.configuration.org_details['name'] %></a></small>
</div>
