<div class="col-sm-10 offset-sm-1" style="text-align: center" id="application-header">
  <%= image_pack_tag Rails.configuration.org_details['banner_image'], {class: "img-fluid"} %>
  <h1 class="mb-4"><small class="text-muted">Client Database</small></h1>
</div>
